// Typography

// Fonts
$font-serif = 'Vitesse-Medium', serif
$font-serif-light = 'Vitesse-Thin', serif
$font-serif-bold = 'Vitesse-Black', serif
$font-sans = 'Graphik-Regular', 'Helvetica', Arial, sans-serif
$primary-font-family = $font-serif
$secondary-font-family = $font-sans
$monospaced-font-family = Monaco, Lucida Console, monspace